@charset "UTF-8";
/* em HTML é id = em CSS é #
   em HTML é class = em CSS é .
*/

body{
    background-color: rgb(146, 214, 214);
    font-family: Arial, Helvetica, sans-serif;     
}

h1{
    color: rgb(1, 71, 1);
}

h1#principal {
    text-align: center;
}

h2{
    color: rgb(1, 71, 1);
}